{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 150,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "auto"
}